body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  padding: 6px;
  background: #111;
}

input {
  flex: 1;
  padding: 8px;
  background: #222;
  color: #fff;
  border: none;
}

button {
  padding: 8px 12px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

webview {
  width: 100%;
  height: calc(100vh - 42px);
}
